<div class="component" *ngIf="request">
    <div class="header"><span class="pagetitle">Request Create</span> | <span><a routerLink="/requests/list/">Back to List</a></span></div>
    <table class="table table-dark">
      <tr>
        <td>Id:</td>
        <td><input [(ngModel)]="request.id" type="number" disabled /></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><input [(ngModel)]="request.description" type="text" /></td>
      </tr>
      <tr>
        <td>Justification:</td>
        <td><input [(ngModel)]="request.justification" type="text" /></td>
      </tr>
      <tr>
        <td>Delivery Mode:</td>
        <td><input [(ngModel)]="request.deliveryMode" type="text" /></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td><input [(ngModel)]="request.status" type="text" disabled /></td>
      </tr>
      <tr>
        
        <td><input [(ngModel)]="request.total" type="number" hidden /></td>
      </tr>
      
        
        
      
    </table>
  
    <button (click)="save()" class="btn btn-primary btn-sm">Save</button>
  </div>
  
