<app-menu></app-menu>
<div class="component">
  <div class="header">
    <span class="pagetitle">Request List</span> |
    <span class="createlink"><a routerLink="/requests/create">Create New</a></span> | 
    <input class="search"[(ngModel)]="searchCriteria"type="text"placeholder="Search"/>
  </div>

  <table class="table table-dark">
    <tr class="tableheader">
      <td><a (click)="sortBy('id')">Id</a></td>
      <td><a (click)="sortBy('partNbr')">Description</a></td>
      <td><a (click)="sortBy('name')">Justification</a></td>
      <td><a (click)="sortBy('price')">Rejection Reason</a></td>
      <td><a (click)="sortBy('unit')">Delivery Mode</a></td>
      <td><a (click)="sortBy('photoPath')">Status</a></td>
      <td><a (click)="sortBy('vendor')">Total</a></td>
      <td><a (click)="sortBy('vendor')">User</a></td>
      <td>Actions</td>
      
    </tr>
    <tr *ngFor="let request of requests|sort: sortCriteria:sortOrder">
      <td>{{ request.id }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }} </td>
      <td>{{ request.rejectionReason }}</td>
      <td>{{ request.deliveryMode }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total |currency}}</td>
      <td>{{ request.user.username}}</td>
      <td>
            <span class="actiondetail"
            ><a routerLink="/requests/detail/{{ request.id }}">Detail</a></span
          >
          |
          <span class="actiondetail"
            ><a routerLink="/requests/edit/{{ request.id }}">Edit</a></span
          >
      </td>
    </tr>
  </table>
</div>
<app-footer></app-footer>

