<app-menu></app-menu>
<div class="component">
  <div class="header">
    <span class="pagetitle">User List</span> |
    <span class="createlink"><a routerLink="/users/create">Create New</a></span> | 
    <input class="search"[(ngModel)]="searchCriteria"type="text"placeholder="Search"/>
  </div>

  <table class="table table-dark">
    <tr class="tableheader">
      <td><a (click)="sortBy('id')">Id</a></td>
      <td><a (click)="sortBy('username')">Username</a></td>
      <td><a (click)="sortBy('lastname')">Full Name</a></td>
      <td><a (click)="sortBy('x')">Reviewer</a></td>
      <td><a (click)="sortBy('x')">Admin</a></td>
      <td><a (click)="sortBy('x')">Actions</a></td>
    </tr>
    <tr *ngFor="let user of users|searchUser:searchCriteria|sort: sortCriteria:sortOrder">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.firstname }} {{ user.lastname }}</td>
      <td>{{ user.isReviewer | bool }}</td>
      <td>{{ user.isAdmin | bool }}</td>
      <td>
        <span class="actiondetail"
          ><a routerLink="/users/detail/{{ user.id }}">Detail</a></span
        >
        |
        <span class="actiondetail"
          ><a routerLink="/users/edit/{{ user.id }}">Edit</a></span
        >
      </td>
    </tr>
  </table>
</div>
