<app-menu></app-menu>
<div class="component">
  <div class="header">
    <span class="pagetitle">Review List</span> | 
    <input class="search"[(ngModel)]="searchCriteria"type="text"placeholder="Search"/>
  </div>

  <table class="table table-dark">
    <tr class="tableheader">
      <td><a (click)="sortBy('id')">Id</a></td>
      <td><a (click)="sortBy('description')">Description</a></td>

    
      
      <td><a (click)="sortBy('status')">Status</a></td>
      <td><a (click)="sortBy('total')">Total</a></td>
      <td><a (click)="sortBy('username')">User</a></td>
      <td>Actions</td>
      
    </tr>
    <tr *ngFor="let request of requests|searchRequest:searchCriteria|sort: sortCriteria:sortOrder">
      <td>{{ request.id }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total |currency}}</td>
      <td>{{ request.user.username}}</td>
      <td>
            <span class="actiondetail"
            ><a routerLink="/requests/reviewlist/review/{{ request.id }}">Review</a></span
          >
          
      </td>
    </tr>
  </table>
</div>
<app-footer></app-footer>


